html,
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #2b2b2b;
  margin: 0;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
::placeholder {
  color: #99a2ad;
}

.btn {
  padding: 15px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #f38e1f;
  border-radius: 30px;
  border: 1px solid #f38e1f;
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Montserrat';
  text-decoration: none;
}

.btn-white {
  background-color: #fff;
  color: #f38e1f;
}

/* content */

.content {
  background-color: #e5e5e5;
  padding: 50px 0 113px;
}

.content h1 {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 50px;
}

a.back-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 100px;
  font-weight: 500;
  line-height: 20px;
  color: #99a2ad;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  background-color: #2b2b2b;
}

.logo__img {
  width: 249px;
  height: 40px;
}

.header__menu {
  display: flex;
  gap: 30px;
}

.header__link {
  text-decoration: none;
  color: #fff;
  line-height: 25px;
}

.header__link:hover {
  color: #f38e1f;
  transition: 0.4s;
}

/* hero */

.hero {
  position: relative;
  z-index: 1;
  min-height: 800px;
  background-color: #2b2b2b;
}

.hero::before {
  content: '';
  background-image: url(./images/Vector.svg);
  height: 600px;
  width: 345px;
  position: absolute;
  top: 50px;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero::after {
  content: '';
  background-image: url(./images/hero-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0;
  z-index: -2;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.hero .container {
  padding: 200px 0 224px;
  position: relative;
}

.container_place_hero::before {
  content: '';
  border-left: 1px solid #ffffff;
  position: absolute;
  min-height: 150px;
  top: 0;
  left: 0;
}

.container_place_hero::after {
  content: '';
  border-left: 1px solid #ffffff;
  position: absolute;
  min-height: 190px;
  bottom: -12px;
  left: 4px;
  z-index: 5;
}

.circle {
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: -23px;
  left: -1px;
  z-index: 5;
}

.hero__title {
  color: #fff;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin: 0 0 20px 0;
  max-width: 825px;
  width: 100%;
}

.hero__subtitle {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  max-width: 665px;
  width: 100%;
}

/* main-info */

.main-info {
  background-image: url(./images/main-info-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
}

.main-info__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 40px;
}

.main-info__subtitle {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  color: #f38e1f;
  margin-bottom: 100px;
}

.main-info__paragraph {
  margin: 0;
  font-weight: 500;
  line-height: 20px;
  color: #99a2ad;
}

/* footer */

.footer {
  background-color: #2b2b2b;
  padding: 100px 0;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer__left h3 {
  margin: 0;
  font-size: 14px;
  line-height: 17px;
  color: #e5e5e5;
  padding-bottom: 15px;
  font-weight: 400;
  max-width: 540px;
  width: 100%;
}

.contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__left li {
  margin: 0;
  font-size: 12px;
  line-height: 15px;
  color: #e5e5e5;
  margin-top: 15px;
}

.footer__left li a {
  color: #e5e5e5;
}

.footer__left li a:first-child {
  text-decoration: none;
}

.footer__left li a:hover {
  color: #f38e1f;
  transition: 0.4s;
}

.footer__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.social-links {
  display: flex;
  justify-content: end;
  gap: 15px;
}

.social-link {
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__right p {
  margin: 30px 0 15px;
  color: #e5e5e5;
  font-size: 12px;
  line-height: 15px;
}

.footer__line {
  background: url(./images/footer-line.svg) right;
  max-width: 540px;
  width: 100%;
  height: 11px;
}

/* search */

.search {
  padding: 50px 0;
}
.search form {
  position: relative;
}

.search__input {
  padding: 15px 20px;
  display: block;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.search__icon {
  background: url(./images/icon-search.svg) no-repeat;
  width: 25px;
  height: 25px;
  border: none;
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

/* scales */

.scales__item {
  background-color: #fff;
  padding: 30px 20px;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  margin-bottom: 20px;
}

.scales__title {
  margin: 0 0 25px 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.scales__buttons {
  display: flex;
  gap: 15px;
}

/* news */

.news-rubric {
  margin-bottom: 100px;
}

.news-rubric__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.news-rubric__heading h2 {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.news-list__img {
  background-image: url(./images/news-background.png);
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
}

.news-list__content {
  background-color: #fff;
  padding: 15px 20px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.news-list__link {
  margin: 0;
  font-weight: 500;
  line-height: 20px;
  color: #2b2b2b;
  text-decoration: none;
}

.news-list__date {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* filters */

.filters {
  margin-bottom: 30px;
  display: flex;
  gap: 15px;
}

.filters__item {
  border: 1px solid #f38e1f;
  border-radius: 5px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  line-height: 20px;
  color: #2b2b2b;
  cursor: pointer;
}

.filters__item img {
  display: none;
}

.filters__item.active {
  background-color: #f38e1f;
  color: #fff;
}

.filters__item.active img {
  display: block;
}

/* certificate */

.certificate {
  background-color: #f2f2f2;
  padding: 82px 0 166px;
}

.certificate__title {
  margin: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  max-width: 1015px;
  width: 100%;
  margin-bottom: 40px;
}

.certificate__title span {
  color: #f38e1f;
}

.sertificate__form {
  background-color: #fff;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  position: relative;
}

.sertificate__input {
  padding: 15px 20px;
  display: block;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}

.checkbox {
  grid-column: 1/4;
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox input {
  margin: 0;
}

.sertificate__form span {
  font-size: 16px;
  line-height: 25px;
}

.sertificate__form a {
  color: #2b2b2b;
}

.sertificate__form div:nth-of-type(1) {
  position: relative;
}

.sertificate__form div:nth-of-type(2) {
  position: relative;
  grid-column: 1/4;
}
